# Hugo build files
public/
resources/
.hugo_build.lock

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp

# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local


.obsidian
content/blogs/template/
/content/blogs/hugo.yaml